<div *ngIf="stations?.length === 0">
  <h2>No stations found.</h2>
</div>

<!-- https://codepen.io/cimmanon/pen/CcGlE -->
<!--<div class="column" *ngIf="stations">-->
<!--    <div class="child" *ngFor="let station of stations">-->
<!--      <mat-card>-->
<!--        <a routerLink="/stations/station/{{station.stationuuid}}" routerLinkActive="active">{{station.name}}</a>-->
<!--        <app-play-button [station]="station"></app-play-button>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--</div>-->

<div class="column" *ngIf="stations">
  <div class="child" *ngFor="let station of stations">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a routerLink="/stations/station/{{station.stationuuid}}" routerLinkActive="active">{{station.name}}</a>
            </mat-panel-title>
            <mat-panel-description>
              <app-play-button [station]="station"></app-play-button>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <p>Tags / Genres: {{ station.tags }}</p>
            <p>Country: {{ station.country }}</p>
            <p>Click count: {{ station.clickcount }}</p>
        </mat-expansion-panel>
    </div>
</div>



