table {
  width: 100%;
}
tr.mat-row, tr.mat-footer-row {
  height: 24px;
}

.mat-column-stationcount {
  width: 10vw;
  text-align: right;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background: #424242;
}

