<!--    Mobile -->
<ng-container *ngIf="mediaQueryList.matches">
    <form [formGroup]="filterForm" class="form-mobile">
      <mat-form-field appearance="fill" class="field-mobile">
        <mat-label>Search</mat-label>
        <input matInput type="text" formControlName="search" autocomplete="off">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="filterForm.reset();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
</ng-container>
<!--    Others -->
<ng-container *ngIf="!mediaQueryList.matches">
  <form [formGroup]="filterForm" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex="20">
      <mat-label>Search</mat-label>
      <input matInput type="text" formControlName="search" autocomplete="off">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="filterForm.patchValue({search: ''})">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <app-country-select fxFlex="20" formControlName="country"></app-country-select>
    <app-genre-select fxFlex="20" formControlName="genre"></app-genre-select>
    <button mat-raised-button (click)="filterForm.reset({order: 'name'})">Reset</button>
  </form>
</ng-container>


<!--{{ filterForm.value | json}}-->

<mat-divider></mat-divider>
<mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>

<div *ngIf="stations">
  <div fxLayout="row"
       fxLayoutAlign="center center">
    <div fxFlex="60" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
      <div *ngIf="stations.length > 0">
        <app-station-table  [stations]="stations"></app-station-table>
      </div>
      <div class="error-container">
        <div *ngIf="stations.length === 0">
          <mat-card>
            <mat-card-content>
              <h2>No stations found.</h2>
              <h2> Try to search something else.</h2>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


