@import "src/_variables.scss";

.primary {
  background-color: mat-color($primary);
}
.accent {
  background-color: mat-color($accent);
}
.warn {
  background-color: mat-color($warn);
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background: #424242;
}

table {
  width: 100%;
}

.mat-column-clicktrend-compact {
  position: relative;
}
.mat-column-votes {
  text-align: right;
}
.mat-column-actions {
  width: 50px;
}
.clicktrend-compact {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
}


img {
  height: 30px;
  max-width: 50px;
  display: block;
}

.mat-table {
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 4px;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 4px;
  }
}



.mat-column-favicon {
  position: relative;
  min-width: 50px;
  width: 50px;
}
.mat-column-favicon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-column-favicon mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-chip {
  font-size: 10px;
}

.mat-standard-chip {
  min-height: 14px;
}
