<mat-tab-group selectedIndex="2">
  <mat-tab label="Table">
    <div fxLayout="row"
         fxLayoutAlign="center center">
      <div fxFlex="60" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
        <app-countries-table [countries]="countries$ | async"></app-countries-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="List">
    <div fxLayout="row"
        fxLayoutAlign="center center">
      <div fxFlex="80" fxFlex.sm="100" fxFlex.xs="100" >
        <app-countries-list [countries]="countries$ | async"></app-countries-list>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Search">
    <app-countries-search [countries]="countries$ | async"></app-countries-search>
  </mat-tab>
</mat-tab-group>




