<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->

<!--<mat-sidenav-container class="example-container">-->
<!--  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<ng-container>
  <mat-toolbar class="header">
    <h1>PiRadio</h1>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-list>
        <mat-list-item><a routerLink="/">Home</a></mat-list-item>
        <mat-list-item><a routerLink="/stations/search">search</a></mat-list-item>
        <mat-list-item><a routerLink="/countries">Countries</a></mat-list-item>
        <mat-list-item><a routerLink="/player">Player</a></mat-list-item>

      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>



