<ng-container>
  <mat-toolbar class="header" [ngClass]="(sidenav.opened && !mediaQueryList.matches)? 'mat-toolbar-sidenav-open': ''">
    <span class="spacer"></span>
    <app-player-toolbar></app-player-toolbar>
    <span class="spacer"></span>
    <button mat-icon-button color="primary" matTooltip="Open sidenav">
      <mat-icon (click)="sidenav.toggle()">more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="mediaQueryList.matches ? 'over' : 'side'" fixedInViewport="true" [opened]="!mediaQueryList.matches" class="sidenav">
      <img class="logo" routerLink="/" src="assets/title.svg" alt="piRadio">
      <mat-nav-list (click)="mediaQueryList.matches ? sidenav.toggle(): ''">
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/stations/search">Search</a>
        <a mat-list-item routerLink="/countries">Countries</a>
        <a mat-list-item routerLink="/player">Player</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<app-clappr></app-clappr>





