<ng-container>
  <mat-toolbar class="header" [ngClass]="(!mediaQueryList?.matches && sideNavOpen)? 'mat-toolbar-sidenav-open': ''">
    <span class="spacer"></span>
    <app-player-toolbar></app-player-toolbar>
    <span class="spacer"></span>
    <button mat-icon-button color="primary" matTooltip="Open sidenav">
      <mat-icon (click)="sidenav.toggle()">more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="mediaQueryList?.matches ? 'over' : 'side'" fixedInViewport="true" [opened]="!mediaQueryList?.matches" class="sidenav">
      <img class="logo" routerLink="/" src="assets/title.svg" alt="piRadio">
      <mat-nav-list (click)="mediaQueryList?.matches ? sidenav.toggle(): ''">
        <a mat-list-item routerLink="/"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a mat-list-item routerLink="/stations/search" routerLinkActive="active-link">Search</a>
        <a mat-list-item routerLink="/countries" routerLinkActive="active-link">Countries</a>
        <a mat-list-item routerLink="/genres" routerLinkActive="active-link">Genres</a>
<!--        <a mat-list-item routerLink="/player" routerLinkActive="active-link">Player</a>-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<app-clappr></app-clappr>





