@import "src/_variables.scss";

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.active-link {
  color: mat-color($primary);
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0;
}

.mat-toolbar-sidenav-open {
  padding-left: 160px;
}

app-player-toolbar {
  width: 100%;
  height: 100%;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  background-color: rgb(33, 33, 33);
}



.spacer {
  flex: 1 1 auto;
}

.logo {
  max-width: 100%;
  outline: none;
}

