@import "src/_variables.scss";

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.info {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.name {
  position: absolute;
  cursor: pointer;
  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: mat-color($primary, Main);
}
.name-mobile {
  font-size: 0.8em;
}

.name-error {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  position: absolute;
  font-size: 1em;
  left: 50%;
  bottom: 6px;
  transform: translate(-50%, 0);
  color: mat-color($warn);
}
.error-mobile {
  position: absolute;
  font-size: 0.8em;
  bottom: 0;
}

.tags {
  overflow: hidden;
  font-size: 0.6em;
  line-height: 12px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.mat-chip {
  font-size: 10px;
  margin-left: 4px;
}

.mat-standard-chip {
  min-height: 14px;
}
