//@import "src/theme";

.info {
  height: 100%;
  width: 200px;
  position: relative;
  overflow: hidden;
  background-color: rgb(22, 22, 22);;
}
.name {
  position: absolute;
  /** Centers text. */
  left: 50%;
  transform: translate(-50%, 0);

  font-size: 0.8em;
  top: -6px;
  //color: mat-color($dark-primary, Main);
}

.tags {
  font-size: 0.6em;
  position: absolute;
  bottom: -10px;
  left: 0;
  //color: mat-color($dark-primary, Dark);

  white-space: nowrap;
  animation: floatText 20s infinite linear;
  padding-left: 100%;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}
