<div class="container">
  <div *ngIf="station && station.name !== ''" class="info" routerLink="/stations/station/{{station.stationuuid}}">
    <div *ngIf="!error">
      <div class="name" [ngClass]="!mediaQueryList.matches?'':'name-mobile'">
        {{ station.name | titlecase }}
      </div>
      <div class="tags" *ngIf="!mediaQueryList.matches">
        <ng-container *ngFor="let tag of station.tags?.split(',').slice(0,4)">
          <mat-chip *ngIf="tag" disabled>{{tag | titlecase}}</mat-chip>
        </ng-container>
      </div>
    </div>

    <div *ngIf="error">
      <div class="name name-error" [ngClass]="!mediaQueryList.matches?'':'name-mobile'">
        {{ station.name | titlecase }}
      </div>
      <div class="error"  [ngClass]="!mediaQueryList.matches?'':'error-mobile'"
           matTooltip="Radio station is offline of stream playback isn't supported."
           aria-label="Radio station is offline of stream playback isn't supported.">
        {{ error.msg }}
      </div>
    </div>
  </div>
</div>

