@import "src/_variables.scss";


.info {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.name {
  cursor: pointer;
  position: absolute;
  /** Centers text. */
  left: 50%;
  transform: translate(-50%, 0);

  font-size: 1em;
  top: 0;
  color: mat-color($primary, Main);
}
.name-mobile {
  left: 0;
  transform: none;
  font-size: 0.8em;
  top: 4px;
}
.error {
  position: absolute;
  font-size: 1em;
  /** Centers text. */
  left: 50%;
  bottom: 6px;
  transform: translate(-50%, 0);
  color: mat-color($warn);
}
.error-mobile {
  position: absolute;
  font-size: 0.8em;
  bottom: 0;
}

.tags {
  overflow: hidden;
  font-size: 0.6em;
  line-height: 20px;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.mat-chip {
  font-size: 10px;
  margin-left: 4px;
}

.mat-standard-chip {
  min-height: 14px;
}
