<div *ngIf="countries"
       fxLayout="row wrap" fxFlexFill>
  <div fxFlex="20%"
       fxFlex.md="33%"
       fxFlex.sm="50%"
       fxFlex.xs="100%"
       *ngFor="let country of countries">
      <mat-card routerLink="/stations/search/country/{{country.name}}">
        <div style="cursor: pointer;" fxLayout="row">
          <span fxFlex="90" class="country">{{country.name | titlecase}}</span>
          <span matTooltip="Station count">{{country.stationcount}}</span>
        </div>
      </mat-card>
  </div>
</div>



