<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxFlexFill>
    <div fxFlex="50" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <ng-container *ngTemplateOutlet="topStations"></ng-container>
    </div>
    <div fxFlex="50" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" *ngIf="history$ | async">
      <ng-container *ngTemplateOutlet="history"></ng-container>
    </div>
    <div fxFlex="50" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <ng-container *ngTemplateOutlet="topGenres"></ng-container>
    </div>
    <div fxFlex="50" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <ng-container *ngTemplateOutlet="about"></ng-container>
    </div>
    <div fxFlex="50" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <ng-container *ngTemplateOutlet="stats"></ng-container>
    </div>
  </div>
</div>

<ng-template #stats>
  <mat-card class="mat-elevation-z12" *ngIf="stats$ | async as stats">
    <mat-card-title>Stats</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Station count at the moment: <span class="primary">&nbsp; {{ stats.stations | number}}</span></mat-list-item>
        <mat-list-item>Station clicks last hour: <span class="primary">&nbsp; {{ stats.clicks_last_hour | number}}</span></mat-list-item>
        <mat-list-item>Station clicks last day: <span class="primary">&nbsp; {{ stats.clicks_last_day | number}}</span></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #about>
  <mat-card class="mat-elevation-z12">
    <mat-card-title>About</mat-card-title>
    <mat-card-content>
      <mat-list>
        <div mat-subheader>Radio player</div>
        <div mat-subheader>Build with</div>
        <mat-list-item matTooltip="Api for radio stations.">
          <a mat-button aria-label="Radio browser" href="https://www.radio-browser.info/">Radio-browser</a>
        </mat-list-item>
        <mat-list-item matTooltip="Clappr is an extensible media player for the web.">
          <a mat-button aria-label="Clappr" href="https://github.com/clappr/clappr">Clappr {{clappr}}</a>
        </mat-list-item>
        <mat-list-item matTooltip="Open-source web application framework led by the Angular Team at Google">
          <a mat-button aria-label="Angular" href="https://angular.io/">
            <img src="/assets/angular.svg" alt="Angular" width="32px" height="32px"> Angular {{angular}}
          </a>
        </mat-list-item>
        <mat-list-item matTooltip="Material Design components for Angular">
          <a mat-button aria-label="Angular Material" href="https://material.angular.io/">
            <img src="/assets/angular-white-transparent.svg" alt="Angular" width="32px" height="32px"> Angular Material {{material}}
          </a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #topGenres>
  <mat-card class="mat-elevation-z12">
    <mat-card-title class="link" routerLink="/genres">Genres</mat-card-title>
    <mat-card-content>
      <app-shared-genre-table [pageSize]="10" showSort="false" showPaginator="false" [genres]="genres$ | async"></app-shared-genre-table>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #topStations>
  <mat-card class="mat-elevation-z12">
    <mat-card-title>Most popular station</mat-card-title>
    <mat-card-content>
      <app-shared-station-table [pageSize]="10" showSort="false" [stations]="topStation$ | async"></app-shared-station-table>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #history>
  <mat-card class="mat-elevation-z12">
    <mat-card-title>Your History</mat-card-title>
    <mat-card-content>
      <app-shared-station-table [pageSize]="10" showSort="false" showPaginator="false" [stations]="history$ | async"></app-shared-station-table>
    </mat-card-content>
  </mat-card>
</ng-template>
