@import "src/_variables.scss";
.container {
  padding-top: 100px;
  margin: auto;
  width: 100%;
}
mat-card {
  margin: 20px;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding-top: 20px;
    width: 100%;
  }
  mat-card {
    margin: 0;
  }
}




mat-card-title {
  padding: 10px;
  color: mat-color($primary);
}
