<mat-tab-group selectedIndex="1">
  <mat-tab label="Table">
    <div fxLayout="row"
         fxLayoutAlign="center center">
      <div fxFlex="60" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput type="text" autocomplete="off" [(ngModel)]="value" (ngModelChange)="search()">
          <button type="reset" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="center center">
      <div fxFlex="60" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
        <app-shared-genre-table [genres]="filteredGenres"></app-shared-genre-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="List">
    <div fxLayout="row"
         fxLayoutAlign="center center">
      <div fxFlex="60" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput type="text" autocomplete="off" [(ngModel)]="value" (ngModelChange)="search()">
          <button type="reset" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="center center">
      <div fxFlex="80" fxFlex.sm="100" fxFlex.xs="100" >
        <app-shared-genre-list [genres]="filteredGenres"></app-shared-genre-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>



