mat-card {
  margin: 4px;
  //padding-right: 0;
  padding: 4px 4px 0 4px;
}

.country {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stationcount {
  position: absolute;
  right: 6px;
  text-align: right;
}
